.case__url {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 111, 238, .2);
  font-feature-settings: 'liga' off;
  color: #597DB3;
}

@media screen and (min-width: 768px) {
  .case__url {
    margin: 0;
    position: absolute;
    top: -40px;
    left: 161px;
  }
}

@media screen and (min-width: 1280px) {
  .case__url {
    font-size: 28px;
    line-height: 32px;
    position: absolute;
    top: -47px;
    left: 201px;
  }
}
