.case__avatar {
  width: 80px;
  height: 80px;
  margin: 0 0 12px 27px;
  border-radius: 50%;
  background-color: #F1F3F5;
}

@media screen and (min-width: 768px) {
  .case__avatar {
    margin: 48px 0 0 30px;
    grid-area: avatar;
  }
}

@media screen and (min-width: 1280px) {
  .case__avatar {
    margin: 48px 48px 0 0;
  }
}
