.content {
  max-width: 288px;
  margin: 80px auto;
  background-color: #FFF;
  border: 1px solid #DCE2E8;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 608px;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    max-width: 784px;
    margin-left: 200px;
  }
}
