.info {
  margin: 0 24px 36px;
  display: grid;
  grid-template-rows: 28px;
  grid-template-areas:
  "avatar title"
  "avatar description";
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .info {
    grid-template-rows: 33px;
    grid-template-columns: 88px 200px;
  }
}

@media screen and (min-width: 1280px) {
  .info {
    grid-template-rows: 26px;
    grid-template-columns: 88px 200px;
  }
}
