.case__title-foot {
  margin: 0 0 0 24px;
  padding: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #333;
}

@media screen and (min-width: 768px) {
  .case__title-foot {
    margin: 48px 0 14px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .case__title-foot {
    font-size: 28px;
    line-height: 32px;
    color: #111;
    margin: 0 0 14px 48px;
  }
}
