.case__list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .case__list {
    margin: 8px 0 0 48px
  }
}

@media screen and (min-width: 1280px) {
  .case__list {
    margin: 0 0 0 48px;
  }
}
